@import "bootstrap/bootstrap.less";
@import "spacing_helpers.less";

//---------------------------------------------------------------------------------
//  Variables
//---------------------------------------------------------------------------------

// Colors
//-------------------------------------------

// Main primary "portfolio theme" colour
@port-primary: rgba(27, 45, 59, .9);

// Primary Variants -
@port-primary-light:   lighten(@port-primary, 20%);
@port-primary-dark:    darken(@port-primary,20%);

// Analogous variants
@corner:         spin((@port-primary), -30);
//@cornerLight:    hsl(hue(@corner), 100%, 70%);
//@cornerDark:     hsl(hue(@corner), 60%, 40%);
//@cornerFaded:    hsl(hue(@corner), 60%, 65%);



//---------------------------------------------------------------------------------
//  Global styles
//---------------------------------------------------------------------------------

html, body {
  height: 100%;
}

.background-cover {
  width: 100%;
  height: 100%;
  background: url('images/city-night-bokeh.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Typography
//--------------------------------------------

h1#title {
  color: #fff;
  text-align: center;
  font-family: 'Pacifico', cursive;
  //  text-transform: uppercase;
  font-style: italic;
  font-size: 76px;
  margin-top: 20px;
}

//---------------------------------------------------------------------------------
// utilities
//---------------------------------------------------------------------------------

.center-children {
  text-align: center;
}

//---------------------------------------------------------------------------------
// Module/component specific styles
//---------------------------------------------------------------------------------

// navbar
//---------------------------------

.navbar {
  margin-bottom: 0;
}


// Footer
//----------------------------------
footer {
  height: 100px;
  background-color: @port-primary;
  color: #fff;
}



// Home header
//--------------------------
.header-bg {
  width: 100%;
  height: 80%;
  background: url('images/city-night-bokeh.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.inner-cover {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 7px solid white;
  border-right: 7px solid white;
  width: 80%;
  background-color: @port-primary;
  padding-bottom: 30px;
}

// Skills
//-----------------------------

//.skills-no-bullets ul {
//  list-style-type: none;
//}



// Contact
//--------------------------
.contact {
  width: 480px;
  .center-block();


  .panel-body {
    position: relative;
    height: 350px;
  }

}

.google-badge {
  position: absolute;
  left: 50%;
  top: 57%;
  .translate(-50%, -50%);

}



