    
<div class="background-cover ptl">
    <div class="panel panel-default contact">
    
        <div class="panel-heading">
            <h3>Contact Me</h3>
        </div>
    
        <div class="panel-body">

            <br><p>Please message me via my Google Plus account</p>
            <div class="google-badge">
                    <!-- Place this tag where you want the widget to render. -->
                    <div class="g-person" data-href="//plus.google.com/u/0/104510087735824523946" data-rel="author"></div>
            </div>
        </div>
    
    </div>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>