    
<div class="contact-above-the-fold ptl">
    <div class="panel panel-default contact">
    
        <div class="panel-heading">
            <h3>Contact Me</h3>
        </div>
    
        <div class="panel-body">
            <br><p>In order to avoid spam, I prefer to be contacted through my
            <a href="https://plus.google.com/104510087735824523946/posts">Google Plus account.</a>
        </p>
        <p>If you have a non-spam reason to contact me, please message me there I will get back to you <em>asap</em>, thanks.</p>
        </div>
    
    </div>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>