
<div class="home-above-the-fold shape-bottom ptl">
    <img src="images/electric-zoomed-out-166px.jpg"
         class="img-circle img-responsive center-block mbl"/>

    <h2 class="title" class="pts">Michael Coleman</h2>
    <h3 class="title">Personal Website</h3>
</div>

<div class="container pbl">
    <div class="row">
        <div class="about-me col-md-8">
            <h2>Hi there</h2>
            <p>My name is Michael Coleman and I am a web developer based in Wellington, New Zealand.</p>
            <p>I build websites and web app's using open source platforms including PHP, Javascript & MySQL and linux web
                 servers.</p>
            <p>I first started playing with code in the 80's when I was about 10, My computer was a VIC 20 and it
                stored its programs using a cassette tape drive.</p>
            <p>When using a cassette drive, you would write some code into the terminal and, when finished, you would press
                record on the cassette deck to save the code from that session.</p>
            <p class="mbl">When you were ready to continue, you would play the tape back to load the code into memory and then continue
                coding.</p>

            <div class="panel panel-default cassette-panel">
                <div class="panel-body">
                    <img src="https://s-media-cache-ak0.pinimg.com/236x/01/03/aa/0103aa57bf63cb8f065982b76abc50a9.jpg"
                              alt="commodore cassette player" class="center-block img-responsive"/>
                    <p class="mtm">Source:
                        <a href="https://www.pinterest.com/horror_house/anoraks-almanac/" target="_blank">Pinterest</a>
                    </p>
                </div>
              </div>

            <p class="mtl">I've been developing web sites and web apps since 2009 and am interested in anything to do
                with web development, open source and the Gnu/Linux series of operating systems.</p>
            <p>I believe contributing to open source projects is a great way to learn and I try to contribute whenever
                possible.</p>

            <h3>Contract work</h3>
            <p>I am available for hire on an hourly rate. I am able to work on location for clients in
                Wellington, New Zealand and am happy to work remotely for overseas clients.</p>
            <p>I you want to discuss hiring me, please </p>
            <div class="center-children">
                <a class="btn btn-primary"  href="#/contact">contact me</a>
            </div>
        </div>

        <!--Skills sidebar-->
        <div class="col-md-4 skills-no-bullets">

            <h2 class="ptm">Skills</h2>
            <hr/>
            <p>Most of My experience has been working on small business websites as a solo developer.</p>
            <p>This often meant I needed to perform a wide range of tasks related to development, hosting, marketing
                and any other tasks needed to setup a business to succeed on the web.</p>

            <!--Frontend-->
            <hr/>
            <h3>Frontend development</h3>
            <ul style="list-style-type: none;">
                <li><h4>HTML and CSS</h4>
                    <ul>
                        <li>LESS</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li><h4>Javascript</h4>
                    <ul>
                        <li>Angular JS
                            <ul>
                                <li>Protractor (End to end testing)</li>
                                <li>Karma (Unit testing)</li>
                            </ul>
                        </li>
                        <li>Native Javascript</li>
                        <li>jQuery</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
                <li><h4>Image Editing</h4>
                    <ul>
                        <li>Gimp</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
            </ul>

            <!--Backend-->
            <hr/>
            <h3>Server side development</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>PHP</h4>
                    <ul>
                        <li>Native PHP</li>
                        <li>Composer</li>
                        <li>Laravel 4</li>
                        <li>PHPunit (unit testing)</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level: Ok
                        </div>
                    </div>
                </li>
                <li><h4>Databases</h4>
                    <ul>
                        <li>MySQL</li>
                        <li>Sqlite (testing)</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
            </ul>

            <!--Workflow-->
            <hr/>
            <h3>Workflow Tools and Techniques</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>Git Version Control</h4>
                    <ul>
                        <li>Github
                            <ul>
                                <li>Forking workflow (Open source)</li>
                            </ul>
                        </li>
                        <li>Bitbucket
                            <ul>
                                <li>Centralised git workflow</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li><h4>Node JS dev tools</h4>
                    <ul>
                        <li>Grunt</li>
                        <li>Bower</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
            </ul>

            <!--Server-->
            <hr/>
            <h3>Server Configuration and Security</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>Server / Hosting</h4>
                    <ul>
                        <li>VPS web hosting (Ubuntu on Digital Ocean)</li>
                        <li>Shared Hosting via C-panel</li>
                        <li>Apache Configuration</li>
                        <li>Iptables (Firewall)</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
            </ul>

            <!--Other-->
            <hr/>
            <h3>Miscellaneous</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>SEO</h4>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li>
                    <h4>Wordpress</h4>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li>
                    <h4>Payment Processing</h4>
                    <ul>
                        <li>Paypal</li>
                        <li>Stripe</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                            <span class="sr-only">20% Complete</span>
                            Beginner
                        </div>
                    </div>
                </li>
            </ul>
        </div> <!--./skills sidebar col-->

    </div> <!--./ row containing Hello AND skills cols-->

</div>
