
<div class="header-bg ptl">
    <img src="images/electric-zoomed-out-166px.jpg"
         class="img-circle img-responsive center-block"/>

    <div class="inner-cover">
        <h1 id="title">Michael Coleman</h1>

        <h3 style="color: #fff; font-family: 'Lato', sans-serif; text-transform: uppercase;
                  text-align: center">
            <i class="fa fa-code fa-1x"></i> &nbsp;&nbsp;&nbsp;&nbsp;{{ ' Web Developer '  }}
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-code fa-1x"></i>
        </h3>
    </div>
</div>

<div class="container pbl">
    <div class="row">
        <div class="col-md-7">
            <h1><strong>Hello</strong></h1>
            <p>I first learnt the basics of Java programming at Canterbury University (Christchurch, New Zealand) in
                1999 and have always had a keen interest in computing.</p>
            <p>Like many people I have been excited by the new abilities provided to us by powerful mobile hardware,
                and the innovations in internet based technologies.</p>
            <p>I've been developing small business websites since 2009 and am amazed at how businesses can
                improve their marketing, customer support, collect payments, provide web software services and how the
                barriers to entry for these abilities are getting smaller every day.</p>
            <p>I work with open source development and server platforms, i.e. Linux, Apache, MySQL, PHP and Javascript.</p>
            <h3>Hire me</h3>
            <p>I am available for hire on an hourly rate. I am able to work on location for clients in
                Wellington, New Zealand and am happy to work remotely for overseas clients.</p>
            <p>I you want to discuss hiring me, please </p>
            <br/>
            <div class="center-children">
                <a class="btn btn-primary" style="text-align: center;" href="#/contact">contact me</a>
            </div>
        </div>

        <!--Skills sidebar-->
        <div class="col-md-5 skills-no-bullets">

            <h2 class="ptm">Skills</h2>
            <hr/>
            <p>Most of My experience has been working on small business websites as a freelancer.</p>
            <p>This often meant I needed to perform a wide range of tasks related to development, hosting, marketing
                and any other tasks needed to setup a business to succeed on the web.</p>

            <!--Frontend-->
            <hr/>
            <h3>Frontend development</h3>
            <ul style="list-style-type: none;">
                <li><h4>HTML and CSS</h4>
                    <ul>
                        <li>LESS</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li><h4>Javascript</h4>
                    <ul>
                        <li>Angular JS
                            <ul>
                                <li>Protractor (End to end testing)</li>
                                <li>Karma (Unit testing)</li>
                            </ul>
                        </li>
                        <li>Native Javascript</li>
                        <li>jQuery</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
                <li><h4>Image Editing</h4>
                    <ul>
                        <li>Gimp</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
            </ul>

            <!--Backend-->
            <hr/>
            <h3>Server side development</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>PHP</h4>
                    <ul>
                        <li>Native PHP</li>
                        <li>Composer</li>
                        <li>Laravel 4</li>
                        <li>PHPunit (unit testing)</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level: Ok
                        </div>
                    </div>
                </li>
                <li><h4>Databases</h4>
                    <ul>
                        <li>MySQL</li>
                        <li>Sqlite (testing)</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
            </ul>

            <!--Workflow-->
            <hr/>
            <h3>Workflow Tools and Techniques</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>Git Version Control</h4>
                    <ul>
                        <li>Github
                            <ul>
                                <li>Forking workflow (Open source)</li>
                            </ul>
                        </li>
                        <li>Bitbucket
                            <ul>
                                <li>Centralised git workflow</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li><h4>Node JS dev tools</h4>
                    <ul>
                        <li>Grunt</li>
                        <li>Bower</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
            </ul>

            <!--Server-->
            <hr/>
            <h3>Server Configuration and Security</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>Server / Hosting</h4>
                    <ul>
                        <li>VPS web hosting (Ubuntu on Digital Ocean)</li>
                        <li>Shared Hosting via C-panel</li>
                        <li>Apache Configuration</li>
                        <li>Iptables (Firewall)</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">60% Complete (warning)</span>
                            Skill level:  Ok
                        </div>
                    </div>
                </li>
            </ul>

            <!--Other-->
            <hr/>
            <h3>Miscellaneous</h3>
            <ul style="list-style-type: none;">
                <li>
                    <h4>SEO</h4>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li>
                    <h4>Wordpress</h4>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            Skill level:  Good
                        </div>
                    </div>
                </li>
                <li>
                    <h4>Payment Processing</h4>
                    <ul>
                        <li>Paypal</li>
                        <li>Stripe</li>
                    </ul>
                    <div class="progress mts">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                            <span class="sr-only">20% Complete</span>
                            Skill level: Beginner
                        </div>
                    </div>
                </li>
            </ul>
        </div> <!--./skills sidebar col-->
    </div> <!--./ row containing Hello AND skills cols-->
</div>
