
<div class="header-bg ptl">
    <img src="images/electric-zoomed-out-166px.jpg"
         class="img-circle img-responsive center-block"/>

    <div class="inner-cover">
        <h1 id="title">Michael Coleman</h1>

        <h3 style="color: #fff; font-family: 'Lato', sans-serif; text-transform: uppercase;
                  text-align: center">
            <i class="fa fa-code fa-1x"></i> &nbsp;&nbsp;&nbsp;&nbsp;{{ ' Web Developer '  }}
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-code fa-1x"></i>
        </h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Hello</h2>
            <p>I first learnt the basics of Java programming at Canterbury University (Christchurch, New Zealand) in
                1999 and have always had a keen interest in computing.</p>
            <p>Like many people I have been excited by the new abilities provided to us by powerful mobile hardware,
                and the innovations in internet based technologies.</p>
            <p>I've been developing small business websites since 2009 and am amazed at how businesses can
                improve their marketing, customer support, collect payments, provide web software services and how the
                barriers to entry for these abilities are getting smaller every day.</p>

            <!-- Breaks to padd content off bottom -->
            <br>
            <br>
            <br>
            <br>

<!--
            <p>I prefer developing in linux based operating sytems.</p>
-->
        </div>
        <div class="col-md-6 ptl" style="text-align: center; color: rgba(27, 45, 59, .9)">

            <table class="table table-responsive">
                <tr>
                    <td><i class="fa fa-git fa-5x"></i></td>
                    <td><i class="fa fa-linux fa-5x"></i></td>
                    <td><i class="fa fa-stack-overflow fa-5x"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-cc-paypal fa-5x"></i></td>
                    <td><i class="fa fa-cc-stripe fa-5x"></i></td>
                    <td><i class="fa fa-bitbucket fa-5x"></i></td>
                </tr>

            </table>

        </div>
    </div>
</div>
