# This is a test entry to see if I can get the assets directory to register
# with git/git hub - (where it otherwise wouldnt because git wont register
# empty directories
# 
# This is a test update to see if I can modify files on github directly
