@import "base.less";
// Styles specific for the frontend

h1#title {
  color: rgb(92, 134, 181);
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 76px;
}

body {
  background: url('http://lorempixel.com/abstract/1280/800/') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}